* {
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.cat-sidebar {
    width: 20%;
}

.cat-icon {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cat-big {
    width: 70vW;
}