* {
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.cat-sidebar {
    width: 20%;
}

.cat-icon {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cat-dashboard {
    width: 70vW;
}

.hint {
    display:inline-block;
    margin-top: 30%;
    font-size: 2em;
    word-wrap: break-word;
}

/*.hidden {
    display: none;
}*/