h1 {
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
}

.cat-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cat-dashboard {
}

/*.cat-icon {
    width: 100%;
    height: 25%;
}*/

/*.cat-left,
.cat-left-name,
.counter-left {
float: left;
width: 50%;
}

.cat-right,
.cat-right-name,
.counter-right {
float: right;
width: 50%;
}*/