body {
    margin: 0 auto;
    text-align: center;
}

.clicks {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

/*.container div {
    display:inline-block;
}*/

.cat-left,
.cat-left-name {
float: left;
width: 50%;
}

.cat-right,
.cat-right-name {
float: right;
width: 50%;
}